html {
  --sdpi-bgcolor: #2D2D2D;
  --sdpi-background: #3D3D3D;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: -0.25pt;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html,
body {
  font-size: 9pt;
  background-color: var(--sdpi-bgcolor);
  color: var(--sdpi-color);
}

.sdpi-item{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 43px;
}

.sdpi-item-label{
  color: #9a9a9a;
}

.sdpi-item-value{
  width: 225px;
  height: 20px;
}

input, input:focus, input:hover{
  background-color: var(--sdpi-background);
  font-size: 10pt;
  font-weight: var(--sdpi-fontweight);
  letter-spacing: var(--sdpi-letterspacing);
  width: inherit;
  border: none;
  outline: none;
  height: inherit;
  color: var(--sdpi-color)
}